/****************Generelle instillinger********************/





/**********index start*************/


.yellow {
    color: yellow;
}

/**********index slut*************/




/**********kontakt start************/


h1_kontakt {
    color: darkolivegreen;
}




/**********kontakt slut************/








/**********aabningstider start********/

.blue {
    color: blue;
}



/**********aabningstider slut********/
